body {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  background-color: #0e0e0e;
}

header img {
  width: 100%;
  height: 290px;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-text h1 {
  font-size: 4.5rem;
}

.hero-text a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.search-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;
  border: 2px solid #dfe1e4;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}

.fa-search {
  width: 16px;
  height: 16px;
  margin: 12px;
  color: gray;
}

.search-input {
  justify-self: left;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-left: 20px;
}

.search-input:focus {
  outline: none;
  background: white;
}

#search-button {
  color: #374151;
  margin: 0;
  border: none;
  border-left: 1.2px solid #dfe1e4;
  background-color: #f9fafb;
  align-self: stretch;
  padding: 0px 32px;
  cursor: pointer;
  font-size: 1.2rem
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.explore-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;   
}

.fa-film {
   font-size: 5.8rem;
    color: #DFDDDD;
}


.explore,
.no-results {
    font-size: 2.5rem;
    margin-top: 20px;
    color: #DFDDDD;
    margin-bottom: 8px;
}

.add-movies-text {
    color: #363636;
    font-size: 2rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    gap: 6px;
    letter-spacing: 3px;
}

.movie-card {
  width: 850px;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  color: black;
  margin-top: 20px;
  margin-bottom: 35px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
}

 img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}



.movie-info1,
.movie-info2 {
  display: flex;
  align-items: center;
  gap: 18px; 
}


.movie-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 1px;
}

.movie-title,
.movie-rating {
  margin: 0; 
  line-height: 1;
}

.movie-rating {
  font-size: 20px;
}

.movie-runtime {
  font-size: 18px;
}

.movie-genre {
  font-size: 23px;
  opacity: 0.85;
}

.movie-description {
  opacity: 0.9;
  font-size: 1.5rem;
  color: #6B7280;
  margin-top: 10px;
}

.fa-star {
  color: gold;
  margin-right: 4px;
}

.watchList-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}


.watchList-btn .fa-plus-circle,
.watchList-btn .watchList-text {
    color: orange;
}

.watchList-btn .fa-minus-circle,
.watchList-btn .remove-text {
  color: red;
}



.watchList-btn:disabled .fa-plus-circle,
.watchList-btn:disabled {
  cursor: not-allowed;
  font-size: 16px;
  color: green;
}

